In [2]:
import pandas

In [3]:
df = pandas.read_csv('./movies_metadata.csv')
# [19730, 29503, 35587]
df = df.drop([19730, 29503, 35587])

/tmp/ipykernel_12565/942889557.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv('./movies_metadata.csv')

In [4]:
df.isnull().any()

adult                    False
belongs_to_collection     True
budget                   False
genres                   False
homepage                  True
id                       False
imdb_id                   True
original_language         True
original_title           False
overview                  True
popularity                True
poster_path               True
production_companies      True
production_countries      True
release_date              True
revenue                   True
runtime                   True
spoken_languages          True
status                    True
tagline                   True
title                     True
video                     True
vote_average              True
vote_count                True
dtype: bool

In [5]:
df = df[df['revenue'].notna()]
df = df[df['release_date'].notna()]
df = df[df['runtime'].notna()]
df = df[df['imdb_id'].notna()]

In [6]:
df = df.convert_dtypes()
df.dtypes

adult                    string[python]
belongs_to_collection    string[python]
budget                   string[python]
genres                   string[python]
homepage                 string[python]
id                       string[python]
imdb_id                  string[python]
original_language        string[python]
original_title           string[python]
overview                 string[python]
popularity                       object
poster_path              string[python]
production_companies     string[python]
production_countries     string[python]
release_date             string[python]
revenue                           Int64
runtime                           Int64
spoken_languages         string[python]
status                   string[python]
tagline                  string[python]
title                    string[python]
video                           boolean
vote_average                    Float64
vote_count                        Int64
dtype: object

In [7]:
df['budget'] = df['budget'].astype(int)
df['imdb_id'] = df['imdb_id'].astype(str)

In [8]:
df.isnull().any()

adult                    False
belongs_to_collection     True
budget                   False
genres                   False
homepage                  True
id                       False
imdb_id                  False
original_language         True
original_title           False
overview                  True
popularity               False
poster_path               True
production_companies     False
production_countries     False
release_date             False
revenue                  False
runtime                  False
spoken_languages         False
status                    True
tagline                   True
title                    False
video                    False
vote_average             False
vote_count               False
dtype: bool

In [9]:
df.shape

(45118, 24)

In [10]:
df2 = pandas.read_csv('./links.csv')
df2 = df2.rename(columns={'imdbId': 'imdb_id', 'tmdbId': 'tmdb_id'})
df2 = df2.drop(['movieId'], axis=1)
df2 = df2[df2['tmdb_id'].notna()]
df2['tmdb_id'] = df2['tmdb_id'].astype(int)
df2['imdb_id'] = df2['imdb_id'].astype(str)
df2['imdb_id'] = df2['imdb_id'].apply(lambda x: 'tt' + x.zfill(7))

In [11]:
df = df.merge(df2, left_on='imdb_id', right_on='imdb_id', how='inner')
df['tmdb_id'] = df['tmdb_id'].astype(str)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,tmdb_id
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,<NA>,Toy Story,False,7.7,5415,862
1,False,<NA>,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",<NA>,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,8844
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",<NA>,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,15602
3,False,<NA>,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",<NA>,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,31357
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",<NA>,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,11862

In [12]:
df[df['budget'] == 0].shape

(36188, 25)

In [13]:
df[df['revenue'] == 0].shape

(37660, 25)

In [14]:
# df[df['budget'] == 0]['tmdb_id'].to_csv('./missing_budget.csv', index=False)

In [15]:
df.to_csv('./to_process_imdb_id.csv', columns=['imdb_id'], index=False)

In [16]:
df[(df["runtime"] == 0)].shape

(1527, 25)

In [23]:
df[df['release_date'].str.len() != 10]

KeyError: True